# Зависимости (библиотеки)
/vendor/

# Конфигурация с реальными паролями
.env

# Логи и временные файлы
*.log
.phpunit.result.cache

# Файлы IDE (если используешь VS Code или PhpStorm)
.vscode/
.idea/

# Файлы операционной системы
.DS_Store
Thumbs.db